<h2>Channels</h2>

<ul>
  <li ng-repeat="ch in ctl.channels">{{::ch.channel_id}}</li>
</ul>
<p>Total: {{ctl.channels.length||0}}</p>



<h2>Chaincodes</h2>

<ul>
  <li ng-repeat="ch in ctl.chaincodes">{{::ch.name}}</li>
</ul>
<p>Total: {{ctl.chaincodes.length||0}}</p>


<h2>Run sample transaction</h2>
<button class="btn btn-primary" type="button" ng-click="ctl.scMove(user)">sample1</button>



<h2>Last block</h2>
<json-formatter open="1" json="ctl.blockInfo"></json-formatter>


<h2>Last transaction</h2>
<json-formatter open="1" json="ctl.transaction"></json-formatter>
