
<h2>Peers</h2>

<div ng-repeat="(oid, org) in ctl.getOrgs()">
  <blockquote>
    {{::org.name}}
  </blockquote>
  <ul>
    <li ng-repeat="(pid, peer) in ctl.getPeers(oid)">{{::peer['server-hostname']}}</li>
  </ul>
</div>


<h2>Channels</h2>
<ul>
  <li ng-repeat="ch in ctl.channels">{{::ch.channel_id}}</li>
</ul>
<p>Total: {{ctl.channels.length||0}}</p>



<h2>Chaincodes</h2>

<ul>
  <li ng-repeat="ch in ctl.chaincodes">{{::ch.name}}</li>
</ul>
<p>Total: {{ctl.chaincodes.length||0}}</p>


<h2>Last block</h2>
<json-formatter open="1" json="ctl.blockInfo"></json-formatter>



<certificate title="Transaction creator" data="ctl.transaction.transactionEnvelope.payload.data.actions[0].header.creator.IdBytes"></certificate>

<div ng-repeat="e in ctl.transaction.transactionEnvelope.payload.data.actions[0].payload.action.endorsements">
  <certificate title="Endorser" data="e.endorser.IdBytes"></certificate>
  <!-- <json-formatter open="1" json="e.endorser"></json-formatter> -->
</div>

<h2>Last transaction</h2>
<json-formatter open="1" json="ctl.transaction"></json-formatter>
