
<h2>Invoke transaction</h2>

<form name="form" novalidate>

  <div class="form-group">
    <label>Channel</label>
    <select ng-model="selectedChannel" material-select watch ng-options="o.channel_id for o in ctl.channels"></select>
  </div>

  <div class="form-group">
    <label>Smart contract</label>
    <select ng-model="selectedCc" material-select watch ng-options="o.name for o in ctl.chaincodes"></select>
  </div>

  <div class="form-group">
    <div class="input-field col s12 invalid">
      <textarea id="ccarguments" name="ccarguments"
        class="materialize-textarea" ng-class="{invalid:form.ccarguments.$invalid}"
        ng-model="ctl.args" validate-json></textarea>
      <label for="ccarguments">Arguments (json)</label>
    </div>
    <div data-error="Invalid json" ng-class="{transparent:!form.ccarguments.$error.json}"></div>
  </div>


</form>
<button class="btn btn-primary" type="button" ng-click="ctl.scMove(user)" ng-disabled="form.$invalid">sample1</button>
