
<h1>Login to {{::_config.org}}</h1>
<p>Register and enroll new user in the organization</p>

<form name="login_form" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Username" ng-model="user.username" required/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="button" ng-click="ctl.signUp(user)" ng-disabled="login_form.$invalid">Sign up</button>
  </div>

</form>