node_modules
npm-debug.log
.idea
artifacts/channel/mychannel.block
fabric-rest-api.iml
fabric-rest-api.ipr
fabric-rest-api.iws
.gradle
build

/artifacts/crypto-config/
/artifacts/channel/
/artifacts/cryptogen-*.yaml
/artifacts/fabric-ca-server-config-*.yaml
/artifacts/configtx.yaml
/artifacts/*.block
/artifacts/network-config.json
/fabric-starter.ipr
/fabric-starter.iml
/ledger/docker-compose-*.yaml
/fabric-starter.iws
/ledger/docker-compose-*.yaml-e
/www/artifacts/*.block
/artifacts/update.*
/artifacts/updated_config.*
/artifacts/update_in_envelope.*
/artifacts/config.*
/artifacts/config_block.*
/artifacts/newOrgMSP.json
/dockercompose/*.yaml
