node_modules
npm-debug.log
.idea
artifacts/channel/mychannel.block
fabric-rest-api.iml
fabric-rest-api.ipr
fabric-rest-api.iws
.gradle
build

/artifacts/crypto-config/
/artifacts/channel/
/artifacts/cryptogen-*.yaml
/artifacts/fabric-ca-server-config-*.yaml
/artifacts/configtx.yaml
/artifacts/*.block
/artifacts/network-config.json
/artifacts/network-config-dev.json
/artifacts-dev
/ledger/docker-compose.yaml
.storage