# 
# Copyright . All Rights Reserved.
# 

version: '3.7'

volumes:
  orderer:


services:

  pre-install:
    container_name: pre-install.${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}
    image: ${DOCKER_REGISTRY:-docker.io}/olegabu/fabric-tools-extended:${FABRIC_STARTER_VERSION:-latest}
    environment:
      - ORDERER=true
      - ORDERER_NAME=${ORDERER_NAME:-orderer}
      - ORDERER_NAME_PREFIX=${ORDERER_NAME_PREFIX:-raft}
      - ORDERER_NAMES
      - CONSENTER_ID
      - PEER_NAME=${PEER_NAME:-peer0}
      - PEER_ADDRESS_PREFIX=${PEER_ADDRESS_PREFIX:-peer0.}
      - ORG=${ORG:-org1}
      - PEER0_PORT=${PEER0_PORT}
      - DOMAIN=${DOMAIN:-example.com}
      - ORDERER_DOMAIN
      - INTERNAL_DOMAIN
      - ORDERER_PROFILE=${ORDERER_PROFILE:-Solo}
      - ORDERER_GENERAL_LISTENPORT=${ORDERER_GENERAL_LISTENPORT:-7050}
      - ORDERER_BATCH_TIMEOUT=${ORDERER_BATCH_TIMEOUT:-2}
      - MY_IP
      - WWW_PORT=${WWW_PORT:-80}
      - RAFT0_CONSENTER_PORT=${RAFT0_CONSENTER_PORT:-7050}
      - RAFT1_CONSENTER_PORT=${RAFT1_CONSENTER_PORT:-7150}
      - RAFT2_CONSENTER_PORT=${RAFT2_CONSENTER_PORT:-7250}
      - RAFT_NODES_COUNT=${RAFT_NODES_COUNT:-1}
      - RAFT_NODES_NUMBERING_START=${RAFT_NODES_NUMBERING_START:-0}
      - SIGNATURE_HASH_FAMILY=${SIGNATURE_HASH_FAMILY:-SHA2}
      - USER_ID
      - TMP_DIR
      - CERTS_DIR
    working_dir: /etc/hyperledger
    command: sh -c "touch crypto-config/hosts; container-scripts/container-orderer.sh; set -x; chown -R \${USER_ID} crypto-config; set +x"
    volumes:
      - ${FABRIC_STARTER_HOME:-.}/crypto-config:/etc/hyperledger/crypto-config
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/ordererOrganizations/${DOMAIN}/msp/.well-known:/etc/hyperledger/crypto-config/ordererOrganizations/${DOMAIN}/msp/.well-known
#      - ./templates:/etc/hyperledger/templates # for local debug
#      - ./container-scripts:/etc/hyperledger/container-scripts # for local debug


  post-install:
    container_name:  post-install.${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}
    image: ${DOCKER_REGISTRY:-docker.io}/olegabu/fabric-tools-extended:${FABRIC_STARTER_VERSION:-latest}
    environment:
      - ORDERER=true
      - CONSORTIUM_CONFIG
      - CORE_PEER_LOCALMSPID=${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/crypto-config/ordererOrganizations/${DOMAIN:-example.com}/users/Admin@${DOMAIN:-example.com}/msp
      - SIGNATURE_HASH_FAMILY=${SIGNATURE_HASH_FAMILY:-SHA2}
    working_dir: /etc/hyperledger
    #    command: container-scripts/consortium-reconfigure.sh
    depends_on:
      - orderer

  orderer:
    container_name: ${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}
    restart: always
    image: ${DOCKER_REGISTRY:-docker.io}/hyperledger/fabric-orderer:${FABRIC_VERSION:-latest}
    environment:
      - FABRIC_LOGGING_SPEC=${FABRIC_LOGGING_SPEC:-orderer=DEBUG:endorser=DEBUG:nodeCmd=DEBUG:committer=DEBUG}
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/etc/hyperledger/configtx/${DOMAIN:-example.com}/genesis.pb
      - ORDERER_GENERAL_LOCALMSPID=orderer.${DOMAIN:-example.com}
      - ORDERER_GENERAL_LOCALMSPDIR=/etc/hyperledger/crypto/orderer/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}/msp
      - ORDERER_GENERAL_LISTENPORT=${ORDERER_GENERAL_LISTENPORT:-7050}
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/etc/hyperledger/crypto/orderer/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/etc/hyperledger/crypto/orderer/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/etc/hyperledger/crypto/orderer/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}/tls/ca.crt]
      - ORDERER_OPERATIONS_LISTENADDRESS=${ORDERER_OPERATIONS_LISTENADDRESS:-0.0.0.0:9090}
      - ORDERER_OPERATIONS_TLS_ENABLED=false
      - ORDERER_METRICS_PROVIDER=prometheus

      - ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE=/etc/hyperledger/crypto/orderer/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}/tls/server.crt
      - ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY=/etc/hyperledger/crypto/orderer/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}/tls/server.key
      - ORDERER_GENERAL_CLUSTER_ROOTCAS=[/etc/hyperledger/crypto/orderer/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}/tls/ca.crt]
      - ORDERER_GENERAL_KEEPALIVE_SERVERINTERVAL=${KEEPALIVE_INTERVAL:-7200s}
    working_dir: /etc/hyperledger
    command: sh -c "sleep 3 && orderer"
    depends_on:
      - pre-install
    logging:
      options:
        max-size: "${LOG_FILES_MAX_SIZE:-10m}"
        max-file: "1"
    volumes:
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/configtx:/etc/hyperledger/configtx
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/ordererOrganizations/${DOMAIN:-example.com}/orderers/:/etc/hyperledger/crypto/orderer
      - orderer:/var/hyperledger/production/orderer
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/hosts:/etc/hosts


  cli.orderer:
    container_name: cli.${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}
    image: ${DOCKER_REGISTRY:-docker.io}/${FABRIC_STARTER_REPOSITORY:-olegabu}/fabric-tools-extended:${FABRIC_STARTER_VERSION:-latest}
    restart: always
    tty: true
    environment:
      - ORG=${ORG:-org1}
      - DOMAIN=${DOMAIN:-example.com}
      - ORDERER_GENERAL_LOGLEVEL=debug
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/etc/hyperledger/configtx/${DOMAIN:-example.com}/genesis.pb
      - ORDERER_GENERAL_LOCALMSPID=orderer.${DOMAIN:-example.com}
      - ORDERER_GENERAL_LOCALMSPDIR=/etc/hyperledger/crypto/orderer/msp
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/etc/hyperledger/crypto/orderer/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/etc/hyperledger/crypto/orderer/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/etc/hyperledger/crypto/orderer/tls/ca.crt]
      - ORDERER_GENERAL_LISTENPORT=${ORDERER_GENERAL_LISTENPORT:-7050}
      - CORE_PEER_LOCALMSPID=orderer.${DOMAIN:-example.com}
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/crypto/ordereradmin/msp
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/crypto/orderer/tls/ca.crt
      - ORDERER_NAME=${ORDERER_NAME:-orderer}
      - ORDERER_NAME_PREFIX=${ORDERER_NAME_PREFIX:-raft}
      - ORDERER_DOMAIN
      - DNS_CHANNEL
      - ORDERER_BATCH_TIMEOUT=${ORDERER_BATCH_TIMEOUT:-2}
      - SIGNATURE_HASH_FAMILY=${SIGNATURE_HASH_FAMILY:-SHA2}
      - WGET_CMD
      - FABRIC_VERSION
    working_dir: /etc/hyperledger
    depends_on:
      - pre-install
      - post-install
    volumes:
      - ${FABRIC_STARTER_HOME:-.}/crypto-config:/etc/hyperledger/crypto-config
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/ordererOrganizations/${DOMAIN:-example.com}/orderers/${ORDERER_NAME:-orderer}.${DOMAIN:-example.com}:/etc/hyperledger/crypto/orderer
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/ordererOrganizations/${DOMAIN:-example.com}/users/Admin@${DOMAIN:-example.com}:/etc/hyperledger/crypto/ordereradmin
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/hosts:/etc/hosts
#      - ./crypto-config/ordererOrganizations/${DOMAIN:-example.com}/orderers:/etc/hyperledger/crypto/orderers
#      - ./templates:/etc/hyperledger/templates # for local debug
#      - ${FABRIC_STARTER_HOME:-.}/container-scripts:/etc/hyperledger/container-scripts # for local debug


  # fabric-rest api server
  #  api.orderer:
  #    #    build: ../fabric-starter-rest
  #    image: olegabu/fabric-starter-rest
  #    container_name: api.${DOMAIN:-example.com}
  #    ports:
  #      - ${ORDERER_API_PORT:-4500}:3000
  #    environment:
  #      - ORG=${ORG:-orderer}
  #      - DOMAIN=${DOMAIN:-example.com}
  #      - CRYPTO_CONFIG_DIR=/usr/src/app/crypto-config
  #      - WEBAPP_DIR=/usr/src/app/webapp
  #      - MSP_DIR=/usr/src/app/msp
  #      - ORGS=${ORGS:-"orderer":"peer0.org1.example.com:7051"}
  #      - CAS=${CAS:-"org1":"ca.org1.example.com:7054"}
  #      - DISCOVER_AS_LOCALHOST=false
  #      - ENROLL_ID
  #      - ENROLL_SECRET
  #      - P=${PWD}
  #      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
  #      - ORDERER_GENERAL_LOCALMSPID=orderer
  #      - ORDERER_GENERAL_LOCALMSPDIR=/etc/hyperledger/crypto/orderer/msp
  #      - ORDERER_GENERAL_TLS_PRIVATEKEY=/etc/hyperledger/crypto/orderer/tls/server.key
  #      - ORDERER_GENERAL_TLS_CERTIFICATE=/etc/hyperledger/crypto/orderer/tls/server.crt
  #      - ORDERER_GENERAL_TLS_ROOTCAS=[/etc/hyperledger/crypto/orderer/tls/ca.crt]
  #      - CORE_PEER_LOCALMSPID=orderer
  #      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/crypto/ordereradmin/msp
  #      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/crypto/orderer/tls/ca.crt
  #    depends_on:
  #      - orderer
  #    volumes:
  #      - ../fabric-starter-rest:/usr/src/app
  #      - ./crypto-config:/usr/src/app/crypto-config
  #      - ./webapp:/usr/src/app/webapp
  #      - ./crypto-config/ordererOrganizations/${DOMAIN:-example.com}/msp:/usr/src/app/msp
  #      - ./crypto-config/ordererOrganizations/${DOMAIN:-example.com}/orderers/orderer.${DOMAIN:-example.com}:/etc/hyperledger/crypto/orderer
  #      - ./crypto-config/ordererOrganizations/${DOMAIN:-example.com}/users/Admin@${DOMAIN:-example.com}:/etc/hyperledger/crypto/ordereradmin
  #
  #    command: sh -c "sleep 3 && npm start"
  #    privileged: true

  # http serves certificates
#  www.orderer:
#    image: ${DOCKER_REGISTRY:-docker.io}/nginx
#    container_name: www.${DOMAIN:-example.com}
#    #    ports:
#    #      - ${WWW_PORT:-8080}:80
#    volumes:
#      - ./crypto-config/ordererOrganizations/${DOMAIN:-example.com}/msp:/usr/share/nginx/html/msp
#      - ./crypto-config/ordererOrganizations/${DOMAIN:-example.com}/msp/well-known:/usr/share/nginx/html/.well-known
#    depends_on:
#    - post-install

  www.orderer:
    image: ${DOCKER_REGISTRY:-docker.io}/nginx
    container_name: www.${DOMAIN:-example.com}
    restart: always
    #    ports:
    #      - ${WWW_PORT:-8080}:80
    volumes:
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/node-certs:/usr/share/nginx/html/node-certs:ro
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/ordererOrganizations/${DOMAIN:-example.com}/msp:/usr/share/nginx/html/msp
      - ${FABRIC_STARTER_HOME:-.}/crypto-config/ordererOrganizations/${DOMAIN:-example.com}/msp/.well-known:/usr/share/nginx/html/.well-known
    depends_on:
    - pre-install

networks:
  default:
    external: false
    name: fabric-starter_default