#
# Copyright . All Rights Reserved.
#

version: '3.7'

services:
  cli.clean:
    container_name: cli.clean
#    build:
#      args:
#        FABRIC_VERSION: ${FABRIC_VERSION:-1.4.9}
#      context: ./fabric-tools-extended
    image: ${DOCKER_REGISTRY:-docker.io}/${FABRIC_STARTER_REPOSITORY:-olegabu}/fabric-tools-extended:${FABRIC_STARTER_VERSION:-stable}
    working_dir: /etc/hyperledger
    volumes:
    - /var/run/:/host/var/run/
    - ${FABRIC_STARTER_HOME:-.}/crypto-config:/etc/hyperledger/crypto-config
    - ./data:/etc/hyperledger/data
    - ./https/certs:/etc/hyperledger/certs
    - ./appstore:/etc/hyperledger/appstore

