#
# Copyright . All Rights Reserved.
#

version: '3.7'

services:
  orderer:
    ports:
      - ${ORDERER_GENERAL_LISTENPORT:-7050}:${ORDERER_GENERAL_LISTENPORT:-7050}
#      - 9090:9090

  www.orderer:
    ports:
      - ${WWW_PORT:-79}:80