#
# Copyright . All Rights Reserved.
#

version: '3.7'

volumes:
  peer:
#  peer1:
  webapps:
  routes:

x-peer:
  &peer-defaults
  image: ${DOCKER_REGISTRY:-docker.io}/hyperledger/fabric-peer:${FABRIC_VERSION:-latest}
  working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
  command: peer node start
  volumes:
    - /var/run/:/host/var/run/
  depends_on:
    - pre-install
    - ca

services:

  pre-install:
    container_name: pre-deploy.${ORG:-org1}.${DOMAIN:-example.com}
    image: ${DOCKER_REGISTRY:-docker.io}/olegabu/fabric-tools-extended:${FABRIC_STARTER_VERSION:-latest}
    environment:
      - ORG=${ORG:-org1}
      - DOMAIN=${DOMAIN:-example.com}
      - ORDERER_DOMAIN
      - ORDERER_GENERAL_LISTENPORT=${ORDERER_GENERAL_LISTENPORT:-7050}
      - ORDERER_WWW_PORT=${ORDERER_WWW_PORT:-80}
      - PEER0_PORT=${PEER0_PORT:-7051}
      - BOOTSTRAP_IP
      - DNS_CHANNEL
      - MY_IP
      - ENROLL_ID
      - ENROLL_SECRET
      - LDAP_ENABLED
      - LDAP_BASE_DN
      - FABRIC_LOGGING_SPEC=orderer=DEBUG:endorser=DEBUG:nodeCmd=DEBUG:committer=DEBUG
      - ORDERER_BATCH_TIMEOUT=${ORDERER_BATCH_TIMEOUT:-2}
      - RAFT0_PORT=${RAFT0_PORT:-7050}
      - RAFT1_PORT=${RAFT1_PORT:-7150}
      - RAFT2_PORT=${RAFT2_PORT:-7250}
      - SIGNATURE_HASH_FAMILY=${SIGNATURE_HASH_FAMILY:-SHA2}
    working_dir: /etc/hyperledger
    command: container-scripts/container-peer.sh
    volumes:
      - ${FABRIC_STARTER_HOME:-.}/crypto-config:/etc/hyperledger/crypto-config
  #      - ${FABRIC_STARTER_HOME:-.}/templates:/etc/hyperledger/templates # for local debug
  #      - ${FABRIC_STARTER_HOME:-.}/container-scripts:/etc/hyperledger/container-scripts # for local debug

  deployer:
    container_name: deployer
    image: ${DOCKER_REGISTRY:-docker.io}/vrreality/deployer:${FABRIC_STARTER_VERSION:-latest}
    ports:
      - ${MY_SUBSCRIPTION_PORT:-6080}:${MY_SUBSCRIPTION_PORT:-6080}
#      - 5005:5005
    environment:
      - ORG=${ORG:-org1}
      - DOMAIN=${DOMAIN:-example.com}
      - BOOTSTRAP_IP
      - MY_IP
      - REST_API_SERVER
      - ENROLL_ID
      - ENROLL_SECRET
      - SUBSCRIPTION_PORT=${SUBSCRIPTION_PORT:-6080}
      - MY_SUBSCRIPTION_PORT=${MY_SUBSCRIPTION_PORT:-6080}
      - REST_API_SERVER=http://api.${ORG}.${DOMAIN}:3000
      - DEFAULT_AUTO_EXECUTION=${DEFAULT_AUTO_EXECUTION:-false}
    working_dir: /deployer
    volumes:
      - /var/run/:/host/var/run/
      - ${FABRIC_STARTER_HOME:-.}/crypto-config:/etc/hyperledger/crypto-config


networks:
  default:
    external: false
    name: fabric-starter_default