#
# Copyright . All Rights Reserved.
#

version: '3.7'

services:

  api:
    ports:
      - ${API_PORT:-4000}:3000

  peer0:
    ports:
      - ${PEER0_PORT:-7051}:${PEER0_INTERNAL_PORT:-7051}
#      - ${PEER0_EVENT_PORT:-7053}:7053

#  peer1:
#    ports:
#      - ${PEER1_PORT:-7056}:7051
#      - ${PEER1_EVENT_PORT:-7058}:7053

  www.peer:
    ports:
      - ${WWW_PORT:-80}:80