#
# Copyright . All Rights Reserved.
#

version: '3.7'

services:
  peer:
    environment:
      - CORE_LEDGER_STATE_STATEDATABASE=CouchDB
      - CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS=couchdb.${PEER_NAME:-peer0}.${ORG:-org1}.${DOMAIN:-example.com}:5984
      - CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME=
      - CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD=
    depends_on:
      - couchdb.peer

#  peer1:
#    environment:
#      - CORE_LEDGER_STATE_STATEDATABASE=CouchDB
#      - CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS=couchdb.peer1.${ORG:-org1}.${DOMAIN:-example.com}:5984
#      - CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME=
#      - CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD=
#    depends_on:
#      - couchdb.peer0

  couchdb.peer:
    restart: always
    container_name: couchdb.${PEER_NAME:-peer0}.${ORG:-org1}.${DOMAIN:-example.com}
    image: ${DOCKER_REGISTRY:-docker.io}/hyperledger/fabric-couchdb
    environment:
    - COUCHDB_USER=
    - COUCHDB_PASSWORD=
#    ports:
#    - ${PEER0_COUCHDB_PORT:-5084}:5984

#  couchdb.peer1:
#    container_name: couchdb.peer1.${ORG:-org1}.${DOMAIN:-example.com}
#    image: hyperledger/fabric-couchdb
#    environment:
#    - COUCHDB_USER=
#    - COUCHDB_PASSWORD=
#    ports:
#    - ${PEER1_COUCHDB_PORT:-5085}:5984