<table class="table-bordered highlight responsive-table">
  <thead>
	  <tr>
	    <th>bond</th>
	    <th>principal</th>
      <th>term</th>
      <th>maturity date</th>
	    <th>rate</th>
	    <th>catastrophe</th>
	    <th>state</th>
	  </tr>
  </thead>
  <tbody>
	  <tr ng-repeat="o in ctl.list">
	    <td>{{o.id}}</td>
	    <td>{{o.principal | currency:"$":0}}</td>
      <td>{{o.term}}  months</td>
      <td>{{o.maturityDate}}</td>
	    <td>{{o.rate / 100 | number}}%</td>
	    <td>{{o.trigger}}</td>
	    <td>{{o.state}}</td>
	  </tr>
  </tbody>
</table>

<p>
  <button class="btn btn-primary" ng-click="ctl.open()">Issue Bond</button>
</p>

<script type="text/ng-template" id="create-bond-modal.html">
<div class="modal-header">
<h3 class="modal-title">Issue Bond</h3>
</div>
<form name="modalForm">
<div class="modal-body">
  <div class="form-group">
    <label>principal in multiples of $100,000</label>
    <input class="form-control" required="required" 
    type="number" min="100000" max="10000000" step="100000"
    ng-model="ctl.bond.principal">
  </div>
  <div class="form-group">
    <label>term in months</label>
    <input class="form-control" required="required" 
    type="number" min="1" max="60"
    ng-model="ctl.bond.term">
  </div>
  <div class="form-group">
    <label>yearly rate in basis points</label>
    <input class="form-control" required="required" 
    type="number" min="1" max="10000"
    ng-model="ctl.bond.rate">
  </div>
  <div class="form-group">
    <label>catastrophe trigger</label>
    <select ng-model="ctl.bond.trigger" material-select watch ng-options="o for o in ctl.triggers"></select>
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" 
ng-click="ctl.ok()" ng-disabled="modalForm.$invalid">Issue</button>
<button class="btn btn-warning" type="button" ng-click="ctl.cancel()">Cancel</button>
</div>
</form>
</script>