<table class="table-bordered highlight responsive-table">
  <thead>
	  <tr>
	    <th>contract</th>
      <th>coupons paid</th>
      <th>state</th>
	  </tr>
  </thead>
  <tbody>
	  <tr ng-repeat="o in ctl.list">
	    <td ng-if="o.state === 'active'" title="sell contract"><a href ng-click="ctl.open(o)">{{o.id}}</a></td>
      <td ng-if="o.state !== 'active'">{{o.id}}</td>
      <td>{{o.couponsPaid}}</td>
      <td>{{o.state}}</td>
	  </tr>
  </tbody>
</table>

<script type="text/ng-template" id="sell-contract-modal.html">
<div class="modal-header">
<h3 class="modal-title">Sell Contract</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>contract</label>
    <p class="form-control-static">{{ctl.trade.contractId}}</p>
  </div>
  <div class="form-group">
    <label>price as percentage of face value</label>
    <input class="form-control" required="required" 
    type="number" min="0" ng-model="ctl.trade.price">
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" 
ng-click="ctl.ok()" ng-disabled="modalForm.$invalid">Sell</button>
<button class="btn btn-warning" type="button" ng-click="ctl.cancel()">Cancel</button>
</div>
</form>
</script>
