<table class="table-bordered highlight responsive-table">
  <thead>
	  <tr>
      <th>contract</th>
	    <th>seller</th>
      <th>price</th>
	  </tr>
  </thead>
  <tbody>
	  <tr ng-repeat="o in ctl.list">
      <td ng-if="o.sellerId !== ctl.user.id"><a href title="buy contract" ng-click="ctl.open(o)">{{o.contractId}}</a></td>
      <td ng-if="o.sellerId === ctl.user.id" title="my contract">{{o.contractId}}</td>
      <td>{{o.sellerId}}</td>
      <td>{{o.price}}</td>
	  </tr>
  </tbody>
</table>

<script type="text/ng-template" id="buy-contract-modal.html">
<div class="modal-header">
<h3 class="modal-title">Buy Contract</h3>
</div>
<div class="modal-body">
  <table class="table-bordered highlight responsive-table">
    <tr>
      <td>Contract</td>
      <td>{{ctl.trade.contractId}}</td>
    </tr>
    <tr>
      <td>seller</td>
      <td>{{ctl.trade.sellerId}}</td>
    </tr>
    <tr>
      <td>price</td>
      <td>{{ctl.trade.price}}</td>
    </tr>
    <tr>
      <td>trade id</td>
      <td>{{ctl.trade.id}}</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" 
ng-click="ctl.ok()" ng-disabled="modalForm.$invalid">Buy</button>
<button class="btn btn-warning" type="button" ng-click="ctl.cancel()">Cancel</button>
</div>
</script>