<div class="bs-callout bs-callout-inactive" id="callout-type-b-i-elems">
    <h3 class="vertical-text">Offline</h3>

    <h2>Step 1</h2>
    <div class="row">
        <input class="col-md-4 col-md-offset-1 btn btn-primary" type="button" name="bill" value="New payment request" ng-click="ctl.open()">
    </div>

    <hr />

    <h2>Step 2</h2>
    <table class="table-bordered highlight responsive-table">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Payment instructions</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in ctl.requests">
                <td>{{::o.from}}</td>
                <td>{{::o.to}}</td>
                <td>{{::o.amount}}</td>
                <td>{{::o.purpose}}</td>
                <td>{{::o.description}}</td>
                <td>
                    <input type="button" class="btn btn-default" ng-click="ctl.verify(o)" value="Verify" ng-hide="o.status"/>
                    <input type="button" class="btn btn-danger" ng-click="ctl.decline(o)" value="Decline" ng-show="o.status"/>
                </td>
            </tr>

            <tr ng-hide="ctl.requests.length">
                <td colspan="5" align="center">
                    <i>No items</i>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
    <h3 class="vertical-text">Online</h3>

    <h2>Step 3</h2>
    <table class="table-bordered highlight responsive-table">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Payment instructions</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="o in ctl.requestsVerified track by $index">
                <td>{{::o.from}}</td>
                <td>{{::o.to}}</td>
                <td>{{::o.amount}}</td>
                <td>{{::o.purpose}}</td>
                <td>{{::o.description}}</td>
                <td>
                    <input type="button" class="btn btn-success" ng-click="ctl.submitOnline($index)" value="Sign and Confirm" />
                </td>
            </tr>

            <tr ng-hide="ctl.requestsVerified.length">
                <td colspan="5" align="center">
                    <i>No items</i>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- -->
<script type="text/ng-template" id="verify-contract-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Buy Contract</h3>
    </div>
    <div class="modal-body">

        <form id="pr_form" class="form-horizontal">
          <div class="form-group">
            <label for="from" class="col-sm-2 control-label">From</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="from" placeholder="From" ng-model="pr.from">
            </div>
          </div>
          <div class="form-group">
            <label for="to" class="col-sm-2 control-label">To</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="to" placeholder="To" ng-model="pr.to">
            </div>
          </div>
          <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="amount" placeholder="Amount" ng-model="pr.amount">
            </div>
          </div>

          <input type="hidden" ng-model="pr.purpose" ng-init="pr.purpose='Payment'">

          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-offset-2 col-sm-10">
              <textarea class="form-control" name="description" placeholder="Description" ng-model="pr.description"></textarea>
            </div>
          </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctl.ok(pr)" ng-disabled="pr_form.$invalid">Submit</button>
        <button class="btn" type="button" ng-click="ctl.cancel()">Cancel</button>
    </div>
</script>
