org: org1
domain: &domain example.com
ordererName: orderer
ordererDomain: *domain
NAMESPACE: *domain

authMode: ADMIN

peerOrgName: "{{ .Values.peerName }}-{{ .Values.org }}"

FABRIC_VERSION: 2.3.3

genesisBlock: crypto-config/configtx/{{ .Values.domain }}/genesis.pb

ordererPort: 7050
peer0Port: 7051
dnsChaincodePort: 9999

ordererNames: orderer
#ordererNames: orderer,raft1,raft2

tmpDir: /tmp

serviceAccount:
  create: true

ordererGenerate:
  enabled: false

resources:
  CPULIMIT: 200m
  MEMORYLIMIT: 128Mi
  peer:
    CPULIMIT: 200m
    MEMORYLIMIT: 128Mi
  orderer:
    CPULIMIT: 200m
    MEMORYLIMIT: 128Mi
  sdk:
    CPULIMIT: 200m
    MEMORYLIMIT: 256Mi
  rest:
    CPULIMIT: 200m
    MEMORYLIMIT: 256Mi
  dnsChaincode:
    CPULIMIT: 200m
    MEMORYLIMIT: 128Mi


orderer:
  certificatePathes:
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/ca/ca.{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/ca/priv_sk

    - crypto-config/ordererOrganizations/{{ .Values.domain }}/msp/admincerts/Admin@{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/msp/cacerts/ca.{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/msp/tlscacerts/tlsca.{{ .Values.domain }}-cert.pem

    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/msp/admincerts/Admin@{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/msp/cacerts/ca.{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/msp/keystore/priv_sk
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/msp/signcerts/{{ .Values.ordererName }}.{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/msp/tlscacerts/tlsca.{{ .Values.domain }}-cert.pem

    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/tls/ca.crt
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/tls/server.crt
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/orderers/{{ .Values.ordererName }}.{{ .Values.domain }}/tls/server.key

    - crypto-config/ordererOrganizations/{{ .Values.domain }}/tlsca/tlsca.{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/tlsca/priv_sk

    - crypto-config/ordererOrganizations/{{ .Values.domain }}/users/Admin@{{ .Values.domain }}/msp/admincerts/Admin@{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/users/Admin@{{ .Values.domain }}/msp/cacerts/ca.{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/users/Admin@{{ .Values.domain }}/msp/keystore/priv_sk
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/users/Admin@{{ .Values.domain }}/msp/signcerts/Admin@{{ .Values.domain }}-cert.pem
    - crypto-config/ordererOrganizations/{{ .Values.domain }}/users/Admin@{{ .Values.domain }}/msp/tlscacerts/tlsca.{{ .Values.domain }}-cert.pem

peer:
  certificatePathes:
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/ca/ca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/ca/priv_sk

    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/msp/admincerts/Admin@{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/msp/cacerts/ca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/msp/tlscacerts/tlsca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem

    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/msp/admincerts/Admin@{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/msp/cacerts/ca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/msp/keystore/priv_sk
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/msp/signcerts/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/msp/tlscacerts/tlsca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem

    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/tls/ca.crt
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/tls/server.crt
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/peers/{{ .Values.peerName }}.{{ .Values.org }}.{{ .Values.domain }}/tls/server.key

    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/tlsca/tlsca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/tlsca/priv_sk

    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/users/Admin@{{ .Values.org }}.{{ .Values.domain }}/msp/admincerts/Admin@{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/users/Admin@{{ .Values.org }}.{{ .Values.domain }}/msp/cacerts/ca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/users/Admin@{{ .Values.org }}.{{ .Values.domain }}/msp/keystore/priv_sk
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/users/Admin@{{ .Values.org }}.{{ .Values.domain }}/msp/signcerts/Admin@{{ .Values.org }}.{{ .Values.domain }}-cert.pem
    - crypto-config/peerOrganizations/{{ .Values.org }}.{{ .Values.domain }}/users/Admin@{{ .Values.org }}.{{ .Values.domain }}/msp/tlscacerts/tlsca.{{ .Values.org }}.{{ .Values.domain }}-cert.pem
