<!doctype html>
<html lang="en" ng-app="nsd.app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fabric API Web Client</title>

  <link type="image/x-icon" rel="shortcut icon" href="images/favicon.png">

  <!-- Page styles -->

  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- build:css styles/app.min.css -->
  <link type="text/css" rel="stylesheet" href="styles/material-design-iconic-font.css"/>
  <link type="text/css" rel="stylesheet" href="styles/main.css"/>
  <link type="text/css" rel="stylesheet" href="styles/app.css"/>
  <link type="text/css" rel="stylesheet" href="lib/json-formatter.min.css"/>
  <!-- endbuild -->

</head>

<body class="dark-scheme horizontal-navigation" ng-controller="MainController as ctrl">
  <div class="wrapper vertical-sidebar">
    <header id="header">
      <nav>
        <div class="nav-wrapper center">
          <a href="#" sidenav data-activates="nav-mobile" class="button-collapse top-nav full waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>

          <a class="logo pull-right" href="#">
            <img class="hide-on-med-and-down" src="images/logo.png" alt="Catastrophe Bond">
            <img class="hide-on-large-only" src="images/logo-small.png" alt="Catastrophe Bond">
          </a>

          <div class="title hide-on-med-and-down pull-left">NSD</div>

          <ul class="menu hide-on-med-and-down" ng-cloak>
            <li ng-repeat="state in ctrl.$state.get()|filter:ctrl.visibleMenu">
              <a ui-sref="{{::state.name}}" ui-sref-active="menu-active">{{::state.data.name||state.name}}</a>
            </li>

            <li hidden>
              <a class="dropdown-button drop-down-profile relative-item" href="#" data-activates="dropdown7" data-beloworigin="true">
                user
                <i class="zmdi zmdi-caret-down drop-down-icon"></i>
              </a>
              <ul id="dropdown7" class="dropdown-content">
                <li ng-repeat="u in ctl.users" ng-class="{active: ctl.getUser().id == u.id}">
                  <a href="#" ng-click="ctl.user = u; ctl.setUser()">{{u.id}}</a>
                </li>
              </ul>
            </li>
          </ul>

        </div>
      </nav>
    </header>

    <aside class="sidebar-left" side-bar="">
      <ul class="side-nav fixed clearfix left" id="nav-mobile">
        <li ng-repeat="state in ctrl.$state.get()|filter:ctrl.visibleMenu">
          <a ui-sref="{{::state.name}}" ui-sref-active="menu-active">{{::state.data.name||state.name}}</a>
        </li>

        <li ng-show="ctl.getUser().role === 'issuer'">
          <a ui-sref="demo.bondList" ui-sref-active="menu-active">Bonds</a>
        </li>
        <li ng-show="ctl.getUser().role === 'investor'">
          <a ui-sref="demo.investorContractList" ui-sref-active="menu-active">Contracts</a>
        </li>
        <li ng-show="ctl.getUser().role === 'investor'">
          <a ui-sref="demo.market" ui-sref-active="menu-active">Market</a>
        </li>
        <li ng-show="ctl.getUser().role === 'bank'">
          <a ui-sref="demo.offline" ui-sref-active="menu-active">Offline payments</a>
        </li>
        <h5 class="center">Current user</h5>
        <li ng-repeat="u in ctl.users" ng-class="{active: ctl.getUser().id == u.id}">
          <a href="#" ng-click="ctl.user = u; ctl.setUser()">{{u.id}}</a>
        </li>
      </ul>
    </aside>


    <main id="content">
      <div id="page-content">
        <!-- content here -->
        <div ui-view>
          <div class="loading">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
        </div>
      </div>
    </main>

    <div class="foot3">
      <div class="f-cont col s6 m6 l3">
        <p>Hyperledger Fabric API Web client by Altoros</p>
      </div>
      <div class="f-cont valign-wrapper f-foot col s12 m12 l12">
        <div class="left-align valign col s6 m6 l6">
          <p class="copy">
            &copy;Copyright 2017 - All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>


<!--  cdn with fallback -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
<script>window._ || document.write('<script src="bower_components/lodash/lodash.js"><\/script>')</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script>window.angular || document.write('<script src="bower_components/angular/angular.min.js"><\/script>')</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script>window.angular || document.write('<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"><\/script>')</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script>window.angular || document.write('<script src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"><\/script>')</script>


<!-- build:vendor scripts/vendor.min.js -->
<script type="text/javascript" src="lib/angular-local-storage.min.js"></script>
<script type="text/javascript" src="lib/materialize.js"></script>
<script type="text/javascript" src="lib/angular-materialize.js"></script>
<script type="text/javascript" src="lib/mara.min.js"></script>
<script type="text/javascript" src="lib/angular-ui-router-title.js"></script>
<script type="text/javascript" src="lib/MyBlockchain.js"></script>
<script type="text/javascript" src="lib/json-formatter.min.js"></script>
<!-- endbuild -->

<!-- build:js app.min.js -->
<!-- bootstrap app -->
<script src="app.js"></script>

<!-- controllers -->
<script src="pages/main-controller.js"></script>
<script src="pages/login-controller.js"></script>
<script src="pages/channels-controller.js"></script>
<script src="pages/audit-controller.js"></script>

<!-- services -->
<script src="services/config.js"></script>
<script src="services/user-service.js"></script>
<script src="services/channel-service.js"></script>
<script src="services/api-service.js"></script>
<!-- endbuild -->

</body>
</html>
