apiVersion: v1
kind: ConfigMap
metadata:
  name: ca-server-configuration-cm
data:
  LDAP_ENABLED: {{ "false" | default .Values.ldapEnabled }}
  LDAP_BASE_DN: {{ default (.Values.ldapEnabled)  (print "dc=.%s" .Values.domain) }}